@model DocumentManagement.Models.ViewModels.UserViewModel
@{
    ViewData["Title"] = "USERS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .table-striped tbody tr:nth-of-type(2n+1) {
        background-color: #ecf3f9 !important;
    }

    .table-striped tbody tr:nth-of-type(2n) {
        background-color: #f5f9fc !important;
    }
</style>

<div class="row px-3 px-md-5 pb-4 mb-4 company" id="main-content">

    <h5 class="text-primary font-weight-bold text-capitalize"></h5>

    <div class="col-12 px-0">

        <ul class="nav nav-tabs" id="myTab" role="tablist">

            <li class="nav-item">
                <a class="nav-link active" id="view-tab" data-toggle="tab" href="#view" role="tab" aria-controls="view" aria-selected="true">View Users</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="add-tab" data-toggle="tab" href="#add" role="tab" aria-controls="add" aria-selected="false">Add New User+</a>
            </li>

        </ul>

        <div class="tab-content mt-3" id="myTabContent">

            <div class="tab-pane fade show active shadow" id="view" role="tabpanel" aria-labelledby="view-tab">
                <div class="row px-2">
                    <div class="col-12 px-4 py-3 mb-3">

                        <div class="row">

                            <div class="col-6">
                                <h5>View All Users</h5>
                            </div>

                            <div class="col-6 text-right">
                                @*<button class="btn btn-outline-primary">
                                        <i class="fa fa-filter pr-2"></i>
                                        Filter
                                    </button>*@
                            </div>
                        </div>


                        @if (TempData["Success"] != null)
                        {
                            <div class="row">
                                <div class="col-8">
                                    <div class="alert alert-success" role="alert">
                                        @TempData["Success"]
                                    </div>
                                </div>
                            </div>
                        }
                        @if (TempData["Failure"] != null)
                        {
                            <div class="row">
                                <div class="col-8">
                                    <div class="alert alert-warning" role="alert">
                                        @TempData["Failure"]
                                    </div>
                                </div>
                            </div>
                        }

                        <table id="dataTable" class="table table-striped table-borderless pt-2">
                            <thead style="background-color:black;">
                                <tr class="text-white">
                                    <th>Name</th>
                                    <th>Role</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (DocumentManagement.Models.ViewModels.UserDetail detail in Model.UserDetails)
                                {
                                    <tr>
                                        <td class="align-middle">@detail.UserName</td>
                                        <td class="align-middle">@detail.UserRole</td>
                                    </tr>
                                }

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>

            <div class="tab-pane fade shadow col-8" id="add" role="tabpanel" aria-labelledby="add-tab">
                <div class="row px-2">
                    <div class="col-12 px-4 py-3 mb-3">


                        <div class="row mb-4">
                            <div class="col-12">
                                <h5 class="text-capitalize">Add New User</h5>
                            </div>
                        </div>


                        @using (Html.BeginForm("AddUser", "Admin", FormMethod.Post, new { @class = "col-11 col-md-8 text-center", @name = "AddUserForm" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            if (@ViewBag.Message != null)
                            {
                                <div style="border:1px solid red">
                                    @ViewBag.Message
                                </div>
                            }
                            @Html.ValidationMessageFor(a => a.Name)
                            <br />


                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Name</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(a => a.Name, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Password</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(a => a.Password, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Role</label>
                                <div class="col-sm-9">
                                    <select asp-for="Role" asp-items="Model.Roles" class="form-control" onchange="CompanyDDL()">
                                        <option value="">None</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row companyrow">
                                <label class="col-sm-3 col-form-label">Company</label>
                                <div class="col-sm-9">
                                    <select asp-for="Company" asp-items="Model.Companies" class="form-control">
                                        <option value="0">None</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <button class="btn btn-dark text-capitalize float-right" onclick="OnSubmitClick()">Add User</button>
                                </div>
                            </div>

                        }


                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            $('.companyrow').hide();
            $("#Role").select2({
                tags: true,
                width: '100%'
            });
            $("#Company").select2({
                tags: true,
                width: '100%'
            });
        });
        function CompanyDDL() {
            if ($('#Role').val() == "2" || $('#Role').val() == "3") {
                $('.companyrow').show();
            }
            else {
                $('.companyrow').hide();
            }
        }
        function OnSubmitClick() {
            // Initialize form validation on the registration form.
            // It has the name attribute "registration"
            $("form[name='AddUserForm']").validate({
                // Specify validation rules
                rules: {
                    // The key name on the left side is the name attribute
                    // of an input field. Validation rules are defined
                    // on the right side
                    Name: "required",
                    Role: "required",
                    Password: "required",
                    //Company: "required"
                },
                // Specify validation error messages
                messages: {
                    Name: "Please enter company name",
                    Role: "Please select role",
                    Password: "Please enter password",
                    //Company: "Please select company",
                },
                // Make sure the form is submitted to the destination defined
                // in the "action" attribute of the form when valid
                submitHandler: function (form) {
                    form.submit();
                }
            });
            var $form = $("form[name='AddUserForm']");
            if (!$form.valid()) { return false; }
        }
    </script>
}
